In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df_train = pd.read_csv('train_final.csv', index_col = False)
labels = df_train[['784']]
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,255,255,255,14,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,68,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2,255,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
3,177,0,0,0,0,86,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10

In [3]:
df_train.drop(df_train.columns[[784]], axis=1, inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,68,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,255,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,177,0,0,0,0,86,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0

In [4]:
np.random.seed(1212)
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.utils import to_categorical
import tensorflow.keras.backend as K
# K.set_image_data_format('channels_first')

In [5]:
labels = np.array(labels)

In [6]:
from tensorflow.keras.utils import to_categorical
cat = to_categorical(labels, num_classes = 13)

In [7]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [8]:
df_train

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,255,255,255,14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,68,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,255,23,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,177,0,0,0,0,86,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34563,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34564,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34565,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34566,0,50,170,39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
l = []
for i in range(df_train.shape[0]):
    l.append(np.array(df_train[i:i+1]).reshape(28, 28, 1))

In [10]:
len(l)

34568

In [11]:
train_X, test_X, train_y, test_y = train_test_split(np.array(l), cat, test_size=0.20, random_state=42)
len(train_X)

27654

In [12]:
np.random.seed(7)

In [13]:
model = keras.Sequential([
    layers.Conv2D(30, (5, 5), input_shape=(28, 28, 1), activation='relu'), 
    layers.MaxPool2D(pool_size=2), 
    layers.Conv2D(15, (3, 3), activation='relu'), 
    layers.MaxPool2D(pool_size=2), 
    layers.Dropout(0.2), 
    layers.Flatten(), 
    layers.Dense(128, activation='relu'), 
    layers.Dense(50, activation='relu'), 
    layers.Dense(13, activation='softmax'), 
])
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
from tensorflow.keras.models import model_from_json

In [15]:
model.fit(train_X, train_y, validation_split=0.25, epochs=10, batch_size=200, shuffle=True, verbose=1)

Epoch 1/10
104/104 [==============================] - 11s 91ms/step - loss: 3.0107 - accuracy: 0.4794 - val_loss: 0.4906 - val_accuracy: 0.8593
Epoch 2/10
104/104 [==============================] - 9s 82ms/step - loss: 0.5188 - accuracy: 0.8540 - val_loss: 0.2599 - val_accuracy: 0.9271
Epoch 3/10
104/104 [==============================] - 8s 81ms/step - loss: 0.3014 - accuracy: 0.9137 - val_loss: 0.1947 - val_accuracy: 0.9487
Epoch 4/10
104/104 [==============================] - 9s 83ms/step - loss: 0.2215 - accuracy: 0.9355 - val_loss: 0.1556 - val_accuracy: 0.9592
Epoch 5/10
104/104 [==============================] - 9s 82ms/step - loss: 0.1867 - accuracy: 0.9449 - val_loss: 0.1418 - val_accuracy: 0.9601
Epoch 6/10
104/104 [==============================] - 7s 70ms/step - loss: 0.1599 - accuracy: 0.9555 - val_loss: 0.1415 - val_accuracy: 0.9625
Epoch 7/10
104/104 [==============================] - 5s 49ms/step - loss: 0.1455 - accuracy: 0.9560 - val_loss: 0.1306 - val_accuracy: 0.9649
Epoch 8/10
104/104 [==============================] - 6s 54ms/step - loss: 0.1200 - accuracy: 0.9630 - val_loss: 0.1164 - val_accuracy: 0.9677
Epoch 9/10
104/104 [==============================] - 5s 51ms/step - loss: 0.1068 - accuracy: 0.9691 - val_loss: 0.1091 - val_accuracy: 0.9706
Epoch 10/10
104/104 [==============================] - 7s 71ms/step - loss: 0.1023 - accuracy: 0.9671 - val_loss: 0.1046 - val_accuracy: 0.9714

In [16]:
model.evaluate(test_X, test_y)

217/217 [==============================] - 1s 4ms/step - loss: 0.1135 - accuracy: 0.9712

[0.11350280046463013, 0.9712178111076355]

In [17]:
model_json = model.to_json()
with open('model_final.json', 'w') as json_file:
    json_file.write(model_json)
    model.save_weights('model_final.h5')